#
# Copyright 2019 Heinrich Gerull
#
# Licensed under the GNU GENERAL PUBLIC LICENSE version 3
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.gnu.org/licenses/gpl-3.0.html
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License
# -------------------------------------
[quantdatamanager]	
# absolute path required:
path=D:\QuantDataManager
application=QDataManager_console.exe

# relative path, directory = 'bat'
getsymbols=callListSymbols.bat
updatequotes=callQuotesUpdate.bat
exportquotes=callExportQuotes.bat
# -------------------------------------
[data]
# relative path required:
path=data

symbollist=symbols.csv