# -------------------------------------
[quantdatamanager]	
# absolute path required:
path=D:\QuantDataManager
application=QDataManager_console.exe

# relative path, directory = 'bat'
getsymbols=callListSymbols.bat
updatequotes=callQuotesUpdate.bat
exportquotes=callExportQuotes.bat
# -------------------------------------
[data]
# relative path required:
path=data

symbollist=symbols.csv